openapi: 3.1.0
info:
  title: CookieChimp API
  description: API for CookieChimp.com
  version: 1.0.1

servers:
  - url: "https://cookiechimp.com/api/v1"

paths:
  # category endpoints - GET, POST, PUT, DELETE
  /categories:
    get:
      summary: List categories
      description: List all categories
      operationId: listCategories
      tags:
        - Categories
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/order"
      responses:
        "200":
          description: List of categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    $ref: "#/components/schemas/CategoryPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Category"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Create category
      description: Create a new category
      operationId: createCategory
      tags:
        - Categories
      requestBody:
        description: Category to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryWrite"
      responses:
        "201":
          description: Created category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /categories/{id}:
    get:
      summary: Get category
      description: Get category by ID
      operationId: getCategory
      tags:
        - Categories
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: Update category
      description: Update category by ID
      operationId: updateCategory
      tags:
        - Categories
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        description: Category to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryWrite"
      responses:
        "200":
          description: Updated category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete category
      description: Delete category by ID
      operationId: deleteCategory
      tags:
        - Categories
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Category deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # storage item endpoints - GET, POST, PUT, DELETE
  /storage-items:
    get:
      summary: List storage items
      description: List all storage items
      operationId: listStorageItems
      tags:
        - Storage Items
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/order"
        - name: category_id
          in: query
          description: ID of the category to filter by
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of storage items
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    $ref: "#/components/schemas/StorageItemPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StorageItem"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Create storage item
      description: Create a new storage item
      operationId: createStorageItem
      tags:
        - Storage Items
      requestBody:
        description: Storage item to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorageItemWrite"
      responses:
        "201":
          description: Created storage item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageItem"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /storage-items/{id}:
    get:
      summary: Get storage item
      description: Get storage item by ID
      operationId: getStorageItem
      tags:
        - Storage Items
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Storage item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageItem"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: Update storage item
      description: Update storage item by ID
      operationId: updateStorageItem
      tags:
        - Storage Items
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        description: Storage item to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorageItemWrite"
      responses:
        "200":
          description: Updated storage item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageItem"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete storage item
      description: Delete storage item by ID
      operationId: deleteStorageItem
      tags:
        - Storage Items
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Storage item deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageItem"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # groups endpoints - index, show, create, update
  /groups:
    get:
      summary: List groups
      description: List all groups
      operationId: listGroups
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: List of groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    $ref: "#/components/schemas/GroupPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Group"
    post:
      summary: Create group
      description: Create a new group
      operationId: createGroup
      tags:
        - Groups
      requestBody:
        description: Group to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupCreate"
      responses:
        "201":
          description: Created group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"

  /groups/{id}:
    get:
      summary: Get group
      description: Get group by ID
      operationId: getGroup
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
    put:
      summary: Update group
      description: Update group by ID
      operationId: updateGroup
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        description: Group to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupUpdate"
      responses:
        "200":
          description: Updated group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"

  # sessions endpoints - index & GET
  /sessions:
    get:
      summary: List sessions
      description: List all sessions
      operationId: listSessions
      tags:
        - Sessions
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/order"
        - name: user_id
          in: query
          description: ID of the user to filter by
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SessionIndex"
                  pagination:
                    type: object
                    $ref: "#/components/schemas/Pagination"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /sessions/{id}:
    get:
      summary: Get session
      description: Get session by ID
      operationId: getSession
      tags:
        - Sessions
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # pageviews endpoints - index & GET
  /pageviews:
    get:
      summary: List pageviews
      description: List all pageviews
      operationId: listPageviews
      tags:
        - Pageviews
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/order"
        - name: session_id
          in: query
          description: ID of the session to filter by
          required: false
          schema:
            type: string
        - name: user_id
          in: query
          description: ID of the user to filter by
          required: false
          schema:
            type: string
        - name: consent_id
          in: query
          description: ID of the consent to filter by
          required: false
          schema:
            type: string
        - name: url
          in: query
          description: URL of the pageview to filter by
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of pageviews
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pageview"
                  pagination:
                    type: object
                    $ref: "#/components/schemas/Pagination"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /pageviews/{id}:
    get:
      summary: Get pageview
      description: Get pageview by ID
      operationId: getPageview
      tags:
        - Pageviews
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Pageview
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pageview"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # consents endpoints - index, POST & GET
  /consents:
    get:
      summary: List consents
      description: List all consents
      operationId: listConsents
      tags:
        - Consents
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/order"
        - name: session_id
          in: query
          description: ID of the session to filter by
          required: false
          schema:
            type: string
        - name: user_id
          in: query
          description: ID of the user to filter by
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of consents
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    $ref: "#/components/schemas/ConsentPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Consent"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Create a Consent
      description: Create a new consent record
      operationId: createConsent
      tags:
        - Consents
      requestBody:
        description: Consent to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsentWrite"
      responses:
        "201":
          description: Created consent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Consent"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /consents/{id}:
    get:
      summary: Get consent
      description: Get consent by ID
      operationId: getConsent
      tags:
        - Consents
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Consent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Consent"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # AI actions endpoints - index & GET
  /ai-actions:
    get:
      summary: List AI actions
      description: Audit log of all actions performed by the AI
      operationId: listAIActions
      tags:
        - AI Actions
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/order"
        - name: cookie_id
          in: query
          description: ID of the cookie to filter by
          required: false
          schema:
            type: string
        - name: type
          in: query
          description: Type of the AI action to filter by
          required: false
          schema:
            type: string
            enum:
              - autofill
              - auto_categorisation
              - auto_approved
      responses:
        "200":
          description: List of AI actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    $ref: "#/components/schemas/AIActionPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AIAction"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /ai-actions/{id}:
    get:
      summary: Get AI action
      description: Get AI action by ID
      operationId: getAIAction
      tags:
        - AI Actions
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: AI action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AIAction"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # account - get your own account
  /accounts:
    get:
      summary: List accounts
      description: List all accounts
      operationId: listAccounts
      tags:
        - Account
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/onboarding_status"
      responses:
        "200":
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    $ref: "#/components/schemas/AccountPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"

  /accounts/{id}:
    get:
      summary: Get account
      description: Get account by ID
      operationId: getAccount
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"

  # account user endpoints
  /account-users:
    get:
      summary: List account users
      description: List all account users
      operationId: listAccountUsers
      tags:
        - Account Users
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/order"
      responses:
        "200":
          description: List of account users
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    $ref: "#/components/schemas/AccountUserPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountUser"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # get, update, delete account user
  /account-users/{id}:
    get:
      summary: Get account user
      description: Get account user by ID
      operationId: getAccountUser
      tags:
        - Account Users
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Account user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUser"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: Update account user
      description: Update account user by ID
      operationId: updateAccountUser
      tags:
        - Account Users
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        description: Account user to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum: [admin, member]
      responses:
        "200":
          description: Updated account user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUser"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete account user
      description: Delete account user by ID
      operationId: deleteAccountUser
      tags:
        - Account Users
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Account user deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUser"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # account invitation endpoints
  /account-invitations:
    get:
      summary: List account invitations
      description: List all account invitations
      operationId: listAccountInvitations
      tags:
        - Account Invitations
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/order"
      responses:
        "200":
          description: List of account invitations
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    type: object
                    $ref: "#/components/schemas/AccountInvitationPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountInvitation"

        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create account invitation
      description: Create a new account invitation
      operationId: createAccountInvitation
      tags:
        - Account Invitations
      requestBody:
        description: Account invitation to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountInvitationCreate"
      responses:
        "201":
          description: Created account invitation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInvitation"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # edit, update, delete account invitation
  /account-invitations/{id}:
    get:
      summary: Get account invitation
      description: Get account invitation by ID
      operationId: getAccountInvitation
      tags:
        - Account Invitations
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Account invitation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInvitation"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: Update account invitation
      description: Update account invitation by ID
      operationId: updateAccountInvitation
      tags:
        - Account Invitations
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        description: Account invitation to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountInvitationUpdate"
      responses:
        "200":
          description: Updated account invitation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInvitation"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete account invitation
      description: Delete account invitation by ID
      operationId: deleteAccountInvitation
      tags:
        - Account Invitations
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Account invitation deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInvitation"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    authorization:
      type: apiKey
      in: header
      name: Authorization

  parameters:
    id:
      name: id
      in: path
      description: ID of the resource
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Number of resources to return
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    offset:
      name: offset
      in: query
      description: Number of resources to skip
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
    sort:
      name: sort
      in: query
      description: Field to sort by
      required: false
      schema:
        type: string
    order:
      name: order
      in: query
      description: Sort order
      required: false
      schema:
        type: string
        enum: [asc, desc]
    page:
      name: page
      in: query
      description: Page number
      required: false
      schema:
        type: integer
        default: 1
    per_page:
      name: per_page
      in: query
      description: Number of records to return per page
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 20
    onboarding_status:
      name: onboarding_status
      in: query
      description: |
        The status of the account, where:
        - `account_created`: The account has been created.
        - `vendors_setup`: Categories, services or TCF vendors have been set up.
        - `code_installed`: The script has been installed on the user's website.
        - `inactive`: Less than 10 visitors to the user's website in the last 30 days.
        - `live`: The account is live and operational.
      required: false
      schema:
        type: string
        enum: [account_created, vendors_setup, code_installed, inactive, live]

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
      example:
        error:
          code: 400
          message: "Invalid request"

    Pagination:
      type: object
      properties:
        total:
          type: integer
          description: Total number of resources
        limit:
          type: integer
          description: Number of resources to return
        offset:
          type: integer
          description: Number of resources to skip
      example:
        total: 100
        limit: 20
        offset: 0

    BasePagination:
      type: object
      properties:
        prev_url:
          type: string
          description: Path to get previous page
        next_url:
          type: string
          description: Path to get next page
        count:
          type: integer
          description: Total number of pages
        page:
          type: integer
          description: Current page
        prev:
          type: integer
          description: Previous page number
        next:
          type: integer
          description: Next page number

    AccountPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/accounts?page="
        next_url: "/api/v1/accounts?page=2"
        count: 4
        page: 1
        prev: null
        next: 2

    AccountInvitationPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/account-invitations?page="
        next_url: "/api/v1/account-invitations?page=2"
        count: 4
        page: 1
        prev: null
        next: 2

    AccountUserPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/account-users?page="
        next_url: "/api/v1/account-users?page=2"
        count: 4
        page: 1
        prev: null
        next: 2

    AIActionPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/ai-actions?page="
        next_url: "/api/v1/ai-actions?page=2"
        count: 4
        page: 1
        prev: null
        next: 2

    CategoryPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/categories?page="
        next_url: "/api/v1/categories?page=2"
        count: 4
        page: 1
        prev: null
        next: 2

    ConsentPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/consents?page="
        next_url: "/api/v1/consents?page=2"
        count: 4
        page: 1
        prev: null
        next: 2

    GroupPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/groups?page="
        next_url: "/api/v1/groups?page=2"
        count: 4
        page: 1
        prev: null
        next: 2

    StorageItemPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/storage-items?page="
        next_url: "/api/v1/storage-items?page=2"
        count: 4
        page: 1
        prev: null
        next: 2

    StorageItemWrite:
      type: object
      properties:
        name:
          type: string
          description: Name of the storage item
        description:
          type: string
          description: Description of the storage item that is displayed to users
        company_name:
          type: string
          description: Name of the company that owns the storage item
        domain:
          type: string
          description: Domain of the storage item
        duration:
          type: string
          description: Duration of the storage item
        partitioned:
          type: boolean
          description: Whether the storage item is partitioned
        path:
          type: string
          description: Path of the storage item
        same_site:
          type: string
          description: SameSite attribute of the storage item
        category_id:
          type: string
          description: ID of the storage item category
      required:
        - name

    StorageItem:
      type: object
      allOf:
        - $ref: "#/components/schemas/StorageItemWrite"
      properties:
        id:
          type: string
          readOnly: true
          description: Unique identifier for the storage item
        last_seen_at:
          type: string
          format: date-time
          readOnly: true
        status:
          type: string
          enum: [draft, processing, in_review, finalised]
          default: draft
          readOnly: true
        approved_by_type:
          type: string
          nullable: true
          readOnly: true
        approved_by_id:
          type: string
          nullable: true
          readOnly: true
        wildcard_cookie_id:
          type: string
          nullable: true
          readOnly: true
        is_wildcard_cookie:
          type: boolean
          readOnly: true
      example:
        company_name: "Example Company Name"
        description: "Tracks user preferences."
        domain: "www.example.com"
        duration: "1 year"
        last_seen_at: "2023-03-23T12:34:56Z"
        name: "user-pref-cookie"
        partitioned: false
        path: "/"
        same_site: "Lax"
        category_id: "cat1"
        status: "finalised"
        approved_by_type: "AI"
        wildcard_cookie_id: null
        id: "user-pref-cookie"
        is_wildcard_cookie: false

    CategoryWrite:
      type: object
      properties:
        name:
          type: string
          description: Name of the category that is displayed to users
        description:
          type: string
          description: Description of the category that is displayed to users
        required:
          type: boolean
          description: Whether the category is required for the website to function
      required:
        - name
        - description
        - required

    Category:
      type: object
      allOf:
        - $ref: "#/components/schemas/CategoryWrite"
      properties:
        id:
          type: string
          readOnly: true
          description: Unique identifier for the category
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: Date and time when the category was created
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: Date and time when the category was last updated
      example:
        id: "essential"
        name: "Essential"
        description: "Cookies essential for website functionality"
        required: true
        created_at: "2023-01-01T00:00:00Z"
        updated_at: "2023-01-02T00:00:00Z"

    GroupUpdate:
      type: object
      properties:
        name:
          type: string
          description: Name of the group
        external_id:
          type: string
          description: External ID set by the partner
      required:
        - name
        - external_id

    GroupCreate:
      type: object
      properties:
        name:
          type: string
          description: Name of the group
        external_id:
          type: string
          description: External ID set by the partner
        max_pageviews_per_month:
          type: integer
          description: Maximum number of pageviews per month
      required:
        - name
        - external_id
        - max_pageviews_per_month

    Group:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Unique identifier for the group
      allOf:
        - $ref: "#/components/schemas/GroupCreate"
      example:
        id: "abc123"
        name: "Example Ltd"
        external_id: "ABC_123"
        partner: "partner_one"
        max_pageviews_per_month: 500000

    Session:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the session
        user_id:
          type: string
          description: ID of the user set by your website
          nullable: true
        pageviews:
          type: array
          items:
            $ref: "#/components/schemas/Pageview"
          description: List of pageviews in the session
        consents:
          type: array
          items:
            $ref: "#/components/schemas/Consent"
          description: List of consents in the session
        first_seen_at:
          type: string
          format: date-time
          description: Date and time when the session was first seen
        last_seen_at:
          type: string
          format: date-time
          description: Date and time when the session was last seen
      example:
        id: "sess123"
        user_id: "user456"
        pageviews:
          - id: "pageview789"
            session_id: "sess123"
            url: "https://www.example.com/products"
            consent_id: null
            active_cookies:
              - essential-cookie-1
            created_at: "2023-01-20T12:45:30Z"
          - id: "pageview890"
            session_id: "sess123"
            url: "https://www.example.com/products/123"
            consent_id: consent321
            active_cookies:
              - essential-cookie-1
              - cookie1
              - cookie2
            created_at: "2023-01-20T12:50:00Z"
        consents:
          - id: "consent321"
            session_id: "sess123"
            user_id: "user456"
            user_preferences:
              accept_type: "all"
              accepted_categories: ["cat1", "cat2"]
              rejected_categories: ["cat3", "cat4"]
              accepted_services: { "company1": ["cookie1", "cookie2"] }
              rejected_services: {}
            created_at: "2023-01-20T12:46:30Z"
        first_seen_at: "2023-01-20T12:45:30Z"
        last_seen_at: "2023-01-20T12:50:00Z"

    SessionIndex:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the session
        user_id:
          type: string
          description: ID of the user set by your website
          nullable: true
        first_seen_at:
          type: string
          format: date-time
          description: Date and time when the session was first seen
        last_seen_at:
          type: string
          format: date-time
          description: Date and time when the session was last seen
      example:
        id: "sess123"
        user_id: "user456"
        first_seen_at: "2023-01-20T12:45:30Z"
        last_seen_at: "2023-01-20T12:50:00Z"

    Pageview:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the pageview
        session_id:
          type: string
          description: ID of the session
        url:
          type: string
          format: uri
          description: URL of the pageview
        consent_id:
          type: string
          nullable: true
          description: If the user has given consent, the ID of the consent that is associated with the pageview
        active_cookies:
          type: array
          items:
            type: string
          description: List of active cookies in the pageview
        created_at:
          type: string
          format: date-time
          description: Date and time when the pageview was created
      example:
        id: "pageview890"
        session_id: "sess123"
        url: "https://www.example.com/products/123"
        consent_id: consent321
        active_cookies:
          - essential-cookie-1
          - cookie1
          - cookie2
        created_at: "2023-01-20T12:50:00Z"

    ConsentWrite:
      type: object
      properties:
        user_id:
          type: string
          description: ID of the user set by your website
        user_preferences:
          # looks something like this:
          # acceptType: string,
          # acceptedCategories: string[],
          # rejectedCategories: string[],
          # acceptedServices: {[category: string]: string[]}
          # rejectedServices: {[category: string]: string[]}

          # Possible acceptType values: 'all', 'custom', 'necessary'

          type: object
          properties:
            accept_type:
              type: string
              enum: [all, custom, necessary]
            accepted_categories:
              type: array
              items:
                type: string
            rejected_categories:
              type: array
              items:
                type: string
            accepted_services:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
            rejected_services:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
      required:
        - user_preferences

    Consent:
      type: object
      allOf:
        - $ref: "#/components/schemas/ConsentWrite"
      properties:
        id:
          type: string
          description: Unique identifier for the consent
        session_id:
          type: string
          description: ID of the session
        created_at:
          type: string
          format: date-time
          description: Date and time when the consent was created
      example:
        id: "consent321"
        session_id: "sess123"
        user_id: "user456"
        user_preferences:
          accept_type: "all"
          accepted_categories: ["cat1", "cat2"]
          rejected_categories: ["cat3", "cat4"]
          accepted_services: { "company1": ["cookie1", "cookie2"] }
          rejected_services: {}
        created_at: "2023-01-20T12:46:30Z"

    AIAction:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the AI action
        cookie_id:
          type: string
          description: ID of the cookie that the AI action is associated with
        type:
          type: string
          enum:
            - autofill
            - auto_categorisation
            - auto_approved
        metadata:
          type: object
          additionalProperties: true
      example:
        cookie_id: "example_uuid"
        type: "autofill"
        metadata:
          description: "Tracks user activities."
          company: "Example Company"
          domain: "example.com"
          duration: "Session"

    AccountUserWrite:
      type: object
      properties:
        role:
          type: string
          enum: [admin, member]
          description: Role of the account user
      required:
        - role

    AccountUser:
      type: object
      allOf:
        - $ref: "#/components/schemas/AccountUserWrite"
      properties:
        id:
          type: string
          description: Unique identifier for the account user
        email:
          type: string
          format: email
          description: Email address of the account user
        created_at:
          type: string
          format: date-time
          description: Date and time when the account user was created
        updated_at:
          type: string
          format: date-time
          description: Date and time when the account user was last updated
      example:
        id: "accuser123"
        email: "admin@example.com"
        role: "admin"
        created_at: "2023-01-05T10:15:30Z"
        updated_at: "2023-01-15T11:20:45Z"

    AccountInvitationCreate:
      type: object
      properties:
        name:
          type: string
          description: Name of the user the invitation is for
        email:
          type: string
          format: email
          description: Email address of the user
        role:
          type: string
          enum: [admin, member]
          description: Role of the user when they accept the invitation
      required:
        - name
        - email
        - role

    AccountInvitationUpdate:
      type: object
      properties:
        name:
          type: string
          description: Name of the user the invitation is for
        role:
          type: string
          enum: [admin, member]
          description: Role of the user when they accept the invitation
      required:
        - name
        - role

    AccountInvitation:
      type: object
      allOf:
        - $ref: "#/components/schemas/AccountInvitationCreate"
      properties:
        id:
          type: string
        email:
          type: string
          format: email
          description: Email address of the user
        invited_by_type:
          type: string
          description: Type of entity that created the invitation (account_user or API)
        invited_by_id:
          type: string
          nullable: true
          description: ID of the user who created the invitation
        created_at:
          type: string
          format: date-time
          description: Date and time when the invitation was created
        updated_at:
          type: string
          format: date-time
          description: Date and time when the invitation was last updated
        deleted_at:
          type: string
          format: date-time
          description: Date and time when the invitation was cancelled
      example:
        id: "inv123"
        email: "newmember@cookiechimp.com"
        role: "member"
        invited_by_type: "API"
        created_at: "2023-01-25T09:30:20Z"
        updated_at: "2023-01-25T09:30:20Z"

    AccountWrite:
      type: object

    Account:
      type: object
      allOf:
        - $ref: "#/components/schemas/AccountWrite"
      properties:
        id:
          type: string
          readOnly: true
          description: Unique identifier for the group
        name:
          type: string
          readOnly: true
          description: Domain of the account
        allowed_domains:
          type: array
          items:
            type: string
          readOnly: true
          description: List of allowed domains the the script will run on
        owner_id:
          type: string
          readOnly: true
          description: ID of the account user that owns the account
        onboarding_status:
          type: string
          readOnly: true
          description: |
            The status of the account, where:
            - `account_created`: The account has been created.
            - `vendors_setup`: Categories, services or TCF vendors have been set up.
            - `code_installed`: The script has been installed on the user's website.
            - `inactive`: Less than 10 visitors to the user's website in the last 30 days.
            - `live`: The account is live and operational.
        visitor_stats:
          type: object
          readOnly: true
          description: Visitor statistics for the account
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: Date and time when the account was created
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: Date and time when the account was last updated
      example:
        id: "abc123"
        name: "example.com"
        allowed_domains: ["example.net", "example.org"]
        owner_id: "xyz123"
        onboarding_status: "live"
        visitor_stats: {
          comparison: "vs. Last 30 days",
          statistics: {
            views: {
              count: 1471,
              rate_of_change: 3.37
            },
            consents: {
              count: 213,
              rate_of_change: 25.29
            },
            unique_visitors: {
              count: 895,
              rate_of_change: 42.06
            }
          },
          raw_data: {
            views: {
              current_period: 1471,
              previous_period: 1423
            },
            consents: {
              current_period: 213,
              previous_period: 170
            },
            unique_visitors: {
              current_period: 895,
              previous_period: 630
            }
          }
        }
        created_at: "2022-12-20T18:45:00Z"
        updated_at: "2023-01-10T19:00:00Z"

security:
  - authorization: []
