openapi: 3.1.0
info:
  title: CookieChimp API
  description: |
    API for CookieChimp.com.

    ## Request bodies

    Resource endpoints expect the resource wrapped under its own key, e.g.
    `{"category": {"name": "Analytics"}}` rather than a bare object.
    `PUT /password` wraps in `user`. `POST /auth` is the exception: it takes
    `email` and `password` at the top level.

    ## Response envelopes

    Listing endpoints — including `GET /groups` and `GET /accounts` — return
    `{"pagination": {...}, "data": [...]}`. Most single-resource endpoints
    return `{"data": {...}}`; a single group or account is returned unwrapped.
    Resource-deletion endpoints return `{"message": "..."}`; `DELETE /auth`
    returns an empty object.
  version: 1.2.0

servers:
  - url: "https://cookiechimp.com/api/v1"

paths:
  # auth endpoints - token exchange and sign out
  /auth:
    post:
      summary: Log in
      description: |
        Exchange a user's email and password for an API token. This is the only
        operation in this specification that does not require an
        `Authorization` header — the API serves a few other public routes, such
        as the widget and mobile SDK endpoints, that are not documented here.

        The token returned is the user's default API token; calling this endpoint
        again returns the same token rather than minting a new one.
      operationId: login
      tags:
        - Auth
      security: []
      requestBody:
        description: User credentials
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: API token for the user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Invalid email or password
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageError"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      summary: Log out
      description: |
        Sign the current user out. Pass `notification_token` to also remove a
        registered push notification token for that user.
      operationId: logout
      tags:
        - Auth
      parameters:
        - name: notification_token
          in: query
          description: Push notification token to remove for the current user
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Signed out
          content:
            application/json:
              schema:
                type: object
              example: {}
        "401":
          $ref: "#/components/responses/Unauthorized"

  # password endpoint - change the current user's password
  /password:
    put:
      summary: Change password
      description: |
        Change the password of the user the API token belongs to. The current
        password must be supplied. Requires a user API token.
      operationId: updatePassword
      tags:
        - Auth
      requestBody:
        description: Current and new password
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordUpdateRequest"
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
              example:
                success: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: The current password was wrong, or the new one was invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageError"
        "429":
          $ref: "#/components/responses/RateLimited"

  # category endpoints - GET, POST, PUT, DELETE
  /categories:
    get:
      summary: List categories
      description: List all categories for the current account. Requires an account-scoped API token.
      operationId: listCategories
      tags:
        - Categories
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: List of categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/CategoryPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Category"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"

    post:
      summary: Create category
      description: Create a new category for the current account.
      operationId: createCategory
      tags:
        - Categories
      requestBody:
        description: Category to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryWriteRequest"
      responses:
        "201":
          description: Created category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "422":
          $ref: "#/components/responses/ValidationError"

  /categories/{id}:
    get:
      summary: Get category
      description: Get category by ID
      operationId: getCategory
      tags:
        - Categories
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      summary: Update category
      description: Update category by ID
      operationId: updateCategory
      tags:
        - Categories
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        description: Category to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryWriteRequest"
      responses:
        "200":
          description: Updated category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      summary: Delete category
      description: Delete category by ID. The category is soft-deleted and stops appearing in listings.
      operationId: deleteCategory
      tags:
        - Categories
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Category deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedMessage"
              example:
                message: "Category was deleted successfully"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"

  # storage item endpoints - GET, POST, PUT, DELETE
  /storage-items:
    get:
      summary: List storage items
      description: List all storage items (cookies, local storage and session storage) for the current account.
      operationId: listStorageItems
      tags:
        - Storage Items
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: List of storage items
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/StorageItemPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StorageItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"

    post:
      summary: Create storage item
      description: Create a new storage item for the current account.
      operationId: createStorageItem
      tags:
        - Storage Items
      requestBody:
        description: Storage item to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorageItemWriteRequest"
      responses:
        "201":
          description: Created storage item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageItemResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          description: The referenced `category_id` or `site_service_id` does not belong to this account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          $ref: "#/components/responses/ValidationError"

  /storage-items/{id}:
    get:
      summary: Get storage item
      description: Get storage item by ID
      operationId: getStorageItem
      tags:
        - Storage Items
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Storage item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageItemResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      summary: Update storage item
      description: Update storage item by ID
      operationId: updateStorageItem
      tags:
        - Storage Items
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        description: Storage item to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorageItemWriteRequest"
      responses:
        "200":
          description: Updated storage item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageItemResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      summary: Delete storage item
      description: Delete storage item by ID. The item is soft-deleted and stops appearing in listings.
      operationId: deleteStorageItem
      tags:
        - Storage Items
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Storage item deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedMessage"
              example:
                message: "Storage item was deleted successfully"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"

  # group endpoints - index, GET, POST & PUT
  /groups:
    get:
      summary: List groups
      description: List all groups for your partner. Requires a partner API token.
      operationId: listGroups
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: List of groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/GroupPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Group"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/PartnerTokenRequired"

    post:
      summary: Create group
      description: Create a new group under your partner. Requires a partner API token.
      operationId: createGroup
      tags:
        - Groups
      requestBody:
        description: Group to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupCreateRequest"
      responses:
        "201":
          description: Created group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "401":
          $ref: "#/components/responses/PartnerTokenRequired"
        "422":
          $ref: "#/components/responses/ModelValidationError"

  /groups/{id}:
    get:
      summary: Get group
      description: Get a group by ID. Requires a partner API token.
      operationId: getGroup
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "401":
          $ref: "#/components/responses/PartnerTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      summary: Update group
      description: |
        Update a group by ID. Requires a partner API token. Only `name` and
        `external_id` can be changed; the plan limits (`max_pageviews_per_month`
        and `max_unique_visitors_per_month`) are set at creation time and are
        ignored here.
      operationId: updateGroup
      tags:
        - Groups
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        description: Group to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupUpdateRequest"
      responses:
        "200":
          description: Updated group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "401":
          $ref: "#/components/responses/PartnerTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ModelValidationError"

  # consent endpoints - index & GET
  /consents:
    get:
      summary: List consents
      description: |
        List consent records for the current account, newest first. Requires an
        account-scoped API token.
      operationId: listConsents
      tags:
        - Consents
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: List of consents
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/ConsentPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Consent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"

  /consents/{id}:
    get:
      summary: Get consent
      description: Get consent by ID
      operationId: getConsent
      tags:
        - Consents
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Consent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsentResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"

  # AI action endpoints - index & GET
  /ai-actions:
    get:
      summary: List AI actions
      description: |
        List the actions CookieChimp's AI has taken on this account's categories
        and storage items. Requires an account-scoped API token.
      operationId: listAiActions
      tags:
        - AI Actions
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: List of AI actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/AIActionPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AIAction"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"

  /ai-actions/{id}:
    get:
      summary: Get AI action
      description: Get AI action by ID
      operationId: getAiAction
      tags:
        - AI Actions
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: AI action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AIActionResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"

  # account endpoints - index & GET
  /accounts:
    get:
      summary: List accounts
      description: |
        List accounts. Accepts partner, user, or account tokens: a partner token
        lists every account under the partner's groups, a user token lists the
        accounts that user can access, and an account token lists just that
        account.
      operationId: listAccounts
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/onboarding_status"
        - $ref: "#/components/parameters/visitor_stats"
      responses:
        "200":
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/AccountPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /accounts/{id}:
    get:
      summary: Get account
      description: Get an account by ID. Accepts partner, user, or account tokens.
      operationId: getAccount
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/visitor_stats"
      responses:
        "200":
          description: Account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # account user endpoints - index, GET, PUT & DELETE
  /account-users:
    get:
      summary: List account users
      description: List the users that belong to the current account. Requires an account-scoped API token.
      operationId: listAccountUsers
      tags:
        - Account Users
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: List of account users
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/AccountUserPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountUser"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"

  /account-users/{id}:
    get:
      summary: Get account user
      description: Get account user by ID
      operationId: getAccountUser
      tags:
        - Account Users
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Account user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUserResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      summary: Update account user
      description: Update an account user's roles.
      operationId: updateAccountUser
      tags:
        - Account Users
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        description: Account user to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUserWriteRequest"
      responses:
        "200":
          description: Updated account user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountUserResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ModelValidationError"

    delete:
      summary: Delete account user
      description: |
        Remove a user from the current account. The account owner cannot be
        removed and returns a `422`.
      operationId: deleteAccountUser
      tags:
        - Account Users
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Account user deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedMessage"
              example:
                message: "Account user was deleted successfully"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: The account user is the account owner
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
              example:
                errors:
                  - error: "Cannot remove account owner"

  # account invitation endpoints - index, POST, GET, PUT & DELETE
  /account-invitations:
    get:
      summary: List account invitations
      description: List pending invitations for the current account. Requires an account-scoped API token.
      operationId: listAccountInvitations
      tags:
        - Account Invitations
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: List of account invitations
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/AccountInvitationPagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountInvitation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"

    post:
      summary: Create account invitation
      description: |
        Invite someone to the current account and email them the invitation.

        If an invitation already exists for that email address it is resent
        rather than duplicated, and the response is `200` instead of `201`.

        Invited users join as account admins.
      operationId: createAccountInvitation
      tags:
        - Account Invitations
      requestBody:
        description: Invitation to create
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountInvitationCreateRequest"
      responses:
        "200":
          description: An invitation already existed for this email and was resent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInvitationResponse"
        "201":
          description: Created account invitation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInvitationResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "422":
          $ref: "#/components/responses/ValidationError"

  /account-invitations/{id}:
    get:
      summary: Get account invitation
      description: Get account invitation by ID
      operationId: getAccountInvitation
      tags:
        - Account Invitations
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Account invitation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInvitationResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      summary: Update account invitation
      description: Update the name on an account invitation. The email address cannot be changed.
      operationId: updateAccountInvitation
      tags:
        - Account Invitations
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        description: Invitation to update
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountInvitationUpdateRequest"
      responses:
        "200":
          description: Updated account invitation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInvitationResponse"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"

    delete:
      summary: Delete account invitation
      description: Cancel an account invitation.
      operationId: deleteAccountInvitation
      tags:
        - Account Invitations
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          description: Account invitation deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletedMessage"
              example:
                message: "Account invitation was deleted successfully"
        "401":
          $ref: "#/components/responses/AccountTokenRequired"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    authorization:
      type: http
      scheme: bearer
      description: API token obtained from the login endpoint or the dashboard

  parameters:
    id:
      name: id
      in: path
      description: ID of the resource
      required: true
      schema:
        type: string
    page:
      name: page
      in: query
      description: |
        Page number. Must be a positive integer; anything else returns a `400`.
        Requesting a page past the end returns the last page.
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    per_page:
      name: per_page
      in: query
      description: |
        Number of records to return per page. The effective range is 1–50; any
        value outside it is accepted but falls back to the default of 20.
      required: false
      schema:
        type: integer
        default: 20
    onboarding_status:
      name: onboarding_status
      in: query
      description: |
        The status of the account, where:
        - `account_created`: The account has been created.
        - `vendors_setup`: Categories, services or TCF vendors have been set up.
        - `code_installed`: The script has been installed on the user's website.
        - `inactive`: Less than 10 visitors to the user's website in the last 30 days.
        - `live`: The account is live and operational.
      required: false
      schema:
        type: string
        enum: [account_created, vendors_setup, code_installed, inactive, live]
    visitor_stats:
      name: visitor_stats
      in: query
      description: |
        Set to `false` to skip resolving analytics and return `visitor_stats` as
        `null`. Useful when you only need the account list, as it avoids the
        analytics lookup entirely.
      required: false
      schema:
        type: boolean
        default: true

  responses:
    BadRequest:
      description: Invalid pagination parameter
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            errors:
              - code: 400
                message: "Invalid page parameter"

    Unauthorized:
      description: Missing, invalid or expired API token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            errors:
              - code: 401
                message: "Invalid API Key"

    AccountTokenRequired:
      description: |
        Missing or invalid API token, or a token that does not resolve to an
        account. Account-scoped endpoints accept an account token, or a user
        token whose user belongs to an account; partner tokens are rejected.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            errors:
              - code: 401
                message: "API key must belong to an account"

    PartnerTokenRequired:
      description: Missing or invalid API token, or a token that does not belong to a partner
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            errors:
              - code: 401
                message: "API key must belong to a partner"

    NotFound:
      description: The record does not exist, or does not belong to the caller
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            errors:
              - code: 404
                message: "Record not found"

    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            errors:
              - code: 429
                message: "Too many requests. Please retry later."

    ValidationError:
      description: The record could not be saved
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationError"

    ModelValidationError:
      description: The record could not be saved
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ModelValidationError"

  schemas:
    Error:
      type: object
      description: |
        The standard error envelope, used for authentication, authorization,
        pagination and not-found errors.
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
      example:
        errors:
          - code: 401
            message: "Invalid API Key"

    ValidationError:
      type: object
      description: |
        Returned when a create or update fails validation. Each entry carries a
        single human-readable `error` string.
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              error:
                type: string
      example:
        errors:
          - error: "Name can't be blank"

    ModelValidationError:
      type: object
      description: |
        Returned by the group and account-user write endpoints, which render the
        model's errors directly: an object keyed by attribute name.
      additionalProperties:
        type: array
        items:
          type: string
      example:
        name: ["can't be blank"]
        external_id: ["has already been taken"]

    MessageError:
      type: object
      description: Returned by the auth and password endpoints, which use a single `error` string.
      properties:
        error:
          type: string
      example:
        error: "Invalid Email or password."

    DeletedMessage:
      type: object
      properties:
        message:
          type: string
      example:
        message: "Record was deleted successfully"

    BasePagination:
      type: object
      properties:
        prev_url:
          type: string
          description: Path to get the previous page
        next_url:
          type: string
          description: Path to get the next page
        count:
          type: integer
          description: Total number of records across all pages
        page:
          type: integer
          description: Current page
        prev:
          type: [integer, "null"]
          description: Previous page number, or null on the first page
        next:
          type: [integer, "null"]
          description: Next page number, or null on the last page

    AccountPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/accounts?page="
        next_url: "/api/v1/accounts?page=2"
        count: 68
        page: 1
        prev: null
        next: 2

    AccountInvitationPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/account-invitations?page="
        next_url: "/api/v1/account-invitations?page=2"
        count: 68
        page: 1
        prev: null
        next: 2

    AccountUserPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/account-users?page="
        next_url: "/api/v1/account-users?page=2"
        count: 68
        page: 1
        prev: null
        next: 2

    AIActionPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/ai-actions?page="
        next_url: "/api/v1/ai-actions?page=2"
        count: 68
        page: 1
        prev: null
        next: 2

    CategoryPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/categories?page="
        next_url: "/api/v1/categories?page=2"
        count: 68
        page: 1
        prev: null
        next: 2

    ConsentPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/consents?page="
        next_url: "/api/v1/consents?page=2"
        count: 68
        page: 1
        prev: null
        next: 2

    GroupPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/groups?page="
        next_url: "/api/v1/groups?page=2"
        count: 68
        page: 1
        prev: null
        next: 2

    StorageItemPagination:
      allOf:
        - $ref: "#/components/schemas/BasePagination"
      example:
        prev_url: "/api/v1/storage-items?page="
        next_url: "/api/v1/storage-items?page=2"
        count: 68
        page: 1
        prev: null
        next: 2

    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          description: The user's email address
        password:
          type: string
          format: password
          description: The user's password
      required:
        - email
        - password
      example:
        email: "user@example.com"
        password: "correct-horse-battery-staple"

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: API token to send as a bearer token on subsequent requests
      example:
        token: "0mHFuvY2mCVfMBXbtNCPXA"

    PasswordUpdateRequest:
      type: object
      properties:
        user:
          type: object
          properties:
            current_password:
              type: string
              format: password
            password:
              type: string
              format: password
            password_confirmation:
              type: string
              format: password
          required:
            - current_password
            - password
            - password_confirmation
      required:
        - user
      example:
        user:
          current_password: "correct-horse-battery-staple"
          password: "a-longer-new-password"
          password_confirmation: "a-longer-new-password"

    CategoryWrite:
      type: object
      properties:
        name:
          type: string
          description: Name of the category that is displayed to users
        slug:
          type: string
          description: |
            URL-friendly identifier for the category, used by the consent banner
            and the JavaScript SDK. Some slugs are reserved by CookieChimp.
        description:
          type: string
          description: Description of the category that is displayed to users
        required:
          type: boolean
          description: Whether the category is required for the website to function
      required:
        - name

    CategoryWriteRequest:
      type: object
      properties:
        category:
          $ref: "#/components/schemas/CategoryWrite"
      required:
        - category
      example:
        category:
          name: "Analytics"
          slug: "analytics"
          description: "Cookies that help us understand how the site is used"
          required: false

    Category:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Unique identifier for the category
        name:
          type: string
          description: Name of the category that is displayed to users
        description:
          type: string
          description: Description of the category that is displayed to users
        slug:
          type: string
          description: URL-friendly identifier for the category
        required:
          type: boolean
          description: Whether the category is required for the website to function
        default_language:
          type: string
          description: Language code the name and description are written in
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
      example:
        id: "essential"
        name: "Essential"
        description: "Cookies essential for website functionality"
        slug: "essential"
        required: true
        default_language: "en"
        created_at: "2023-01-01T00:00:00Z"
        updated_at: "2023-01-02T00:00:00Z"

    CategoryResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Category"

    StorageItemWrite:
      type: object
      properties:
        name:
          type: string
          description: Name of the storage item
        storage_type:
          type: string
          enum: [cookie, local_storage, session_storage]
          description: The kind of browser storage this item uses
        description:
          type: string
          description: Description of the storage item that is displayed to users
        company_name:
          type: string
          description: Name of the company that owns the storage item
        domain:
          type: string
          description: Domain of the storage item
        duration:
          type: string
          description: How long the storage item persists
        partitioned:
          type: boolean
          description: Whether the storage item is partitioned (CHIPS)
        path:
          type: string
          description: Path of the storage item
        samesite:
          type: string
          enum: [lax, strict]
          description: SameSite attribute of the storage item
        category_id:
          type: string
          description: ID of the category to file this item under
        site_service_id:
          type: string
          description: |
            ID of the service this item belongs to. When set, the item inherits
            the service's category.
      required:
        - name

    StorageItemWriteRequest:
      type: object
      properties:
        storage_item:
          $ref: "#/components/schemas/StorageItemWrite"
      required:
        - storage_item
      example:
        storage_item:
          name: "_ga"
          storage_type: "cookie"
          description: "Used to distinguish users."
          company_name: "Google"
          domain: ".example.com"
          duration: "2 years"
          partitioned: false
          path: "/"
          samesite: "lax"
          category_id: "cat1"

    StorageItem:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Unique identifier for the storage item
        name:
          type: string
        storage_type:
          type: string
          enum: [cookie, local_storage, session_storage]
        category:
          type: object
          description: |
            The category this item is filed under. Falls back to the category of
            the item's service when the item has no category of its own.
          properties:
            id:
              type: [string, "null"]
            name:
              type: [string, "null"]
        service:
          type: object
          description: The service this item belongs to, if any
          properties:
            id:
              type: [string, "null"]
            name:
              type: [string, "null"]
        description:
          type: string
        company_name:
          type: string
        duration:
          type: string
        domain:
          type: string
        partitioned:
          type: boolean
        path:
          type: string
        samesite:
          type: [string, "null"]
          enum: [lax, strict, null]
        wildcard_id:
          type: [string, "null"]
          readOnly: true
          description: ID of the wildcard item this one was matched against, if any
        default_language:
          type: string
          description: Language code the name and description are written in
        last_seen_at:
          type: [string, "null"]
          format: date-time
          readOnly: true
          description: When this item was last observed on the website
        created_by:
          type: string
          enum: [user, scan]
          readOnly: true
          description: Whether the item was added by a user or found by a scan
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
      example:
        id: "sto123"
        name: "_ga"
        storage_type: "cookie"
        category:
          id: "cat1"
          name: "Analytics"
        service:
          id: "svc1"
          name: "Google Analytics"
        description: "Used to distinguish users."
        company_name: "Google"
        duration: "2 years"
        domain: ".example.com"
        partitioned: false
        path: "/"
        samesite: "lax"
        wildcard_id: null
        default_language: "en"
        last_seen_at: "2023-03-23T12:34:56Z"
        created_by: "scan"
        created_at: "2023-03-01T09:00:00Z"
        updated_at: "2023-03-23T12:34:56Z"

    StorageItemResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/StorageItem"

    GroupCreate:
      type: object
      properties:
        name:
          type: string
          description: Name of the group
        external_id:
          type: string
          description: External ID set by the partner
        max_pageviews_per_month:
          type: integer
          description: Maximum number of pageviews per month
        max_unique_visitors_per_month:
          type: integer
          description: Maximum number of unique visitors per month
      required:
        - name
        - external_id

    GroupCreateRequest:
      type: object
      properties:
        group:
          $ref: "#/components/schemas/GroupCreate"
      required:
        - group
      example:
        group:
          name: "Example Ltd"
          external_id: "ABC_123"
          max_pageviews_per_month: 500000
          max_unique_visitors_per_month: 100000

    GroupUpdate:
      type: object
      properties:
        name:
          type: string
          description: Name of the group
        external_id:
          type: string
          description: External ID set by the partner
      required:
        - name
        - external_id

    GroupUpdateRequest:
      type: object
      properties:
        group:
          $ref: "#/components/schemas/GroupUpdate"
      required:
        - group
      example:
        group:
          name: "Example Ltd"
          external_id: "ABC_123"

    Group:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Unique identifier for the group
        partner:
          type: string
          readOnly: true
          description: Name of the partner the group belongs to
        name:
          type: string
          description: Name of the group
        external_id:
          type: string
          description: External ID set by the partner
        max_pageviews_per_month:
          type: [integer, "null"]
          description: Maximum number of pageviews per month
        max_unique_visitors_per_month:
          type: [integer, "null"]
          description: Maximum number of unique visitors per month
      example:
        id: "abc123"
        partner: "partner_one"
        name: "Example Ltd"
        external_id: "ABC_123"
        max_pageviews_per_month: 500000
        max_unique_visitors_per_month: 100000

    Consent:
      type: object
      description: |
        A consent record, written when a visitor interacts with the consent
        banner.
      properties:
        id:
          type: string
          description: Unique identifier for the consent
        consent_banner_id:
          type: [string, "null"]
          description: ID of the consent banner the visitor saw
        uuid:
          type: string
          description: Anonymous visitor identifier generated by the widget
        url:
          type: string
          description: URL the consent was given on
        ip_address:
          type: [string, "null"]
          description: Partially masked IP address of the visitor
        ip_country:
          type: [string, "null"]
          description: Two-letter country code resolved from the visitor's IP
        ip_region:
          type: [string, "null"]
          description: Region resolved from the visitor's IP
        visitor_user_id:
          type: [string, "null"]
          description: ID of the user set by your website
        accept_type:
          type: [string, "null"]
          description: |
            How the visitor responded. Typically `all`, `custom` or `necessary`.
        accepted_categories:
          type: [array, "null"]
          items:
            type: string
          description: Slugs of the categories the visitor accepted
        rejected_categories:
          type: [array, "null"]
          items:
            type: string
          description: Slugs of the categories the visitor rejected
        accepted_services:
          type: [object, "null"]
          additionalProperties:
            type: array
            items:
              type: string
          description: Accepted services, keyed by category slug
        rejected_services:
          type: [object, "null"]
          additionalProperties:
            type: array
            items:
              type: string
          description: Rejected services, keyed by category slug
        accepted_cookies:
          type: [array, "null"]
          items:
            type: object
          description: Storage items the visitor accepted
        rejected_cookies:
          type: [array, "null"]
          items:
            type: object
          description: Storage items the visitor rejected
        device:
          type: string
          description: Device type derived from the user agent
        user_agent:
          type: string
          description: User agent of the visitor's browser
        gpc_preference:
          type: [boolean, "null"]
          description: Whether the visitor sent a Global Privacy Control signal
        do_not_sell:
          type: boolean
          description: Whether the visitor opted out of the sale of their data
        created_at:
          type: string
          format: date-time
          description: Date and time when the consent was recorded
      example:
        id: "consent321"
        consent_banner_id: "banner123"
        uuid: "8f14e45f-ea8f-4f2e-b1b0-0f1d2c3b4a59"
        url: "https://example.com/pricing"
        ip_address: "203.0.113.XXX"
        ip_country: "GB"
        ip_region: "England"
        visitor_user_id: "user456"
        accept_type: "custom"
        accepted_categories: ["essential", "analytics"]
        rejected_categories: ["marketing"]
        accepted_services: { "analytics": ["Google Analytics"] }
        rejected_services: { "marketing": ["Meta Pixel"] }
        accepted_cookies: []
        rejected_cookies: []
        device: "desktop"
        user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)"
        gpc_preference: false
        do_not_sell: false
        created_at: "2023-01-20T12:46:30Z"

    ConsentResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Consent"

    AIAction:
      type: object
      description: An action CookieChimp's AI took on a category or storage item.
      properties:
        id:
          type: string
          description: Unique identifier for the AI action
        action_type:
          type: string
          enum: [autofill, auto_categorise, translate]
          description: What the AI did
        actionable_type:
          type: string
          enum: [Category, ClientStorageItem]
          description: The type of record the action was taken on
        actionable_id:
          type: string
          description: ID of the record the action was taken on
        suggested_params:
          type: [object, "null"]
          additionalProperties: true
          description: The values the AI suggested
        created_at:
          type: string
          format: date-time
        actionable:
          description: |
            The record the action was taken on — a category or a storage item,
            in the same shape those endpoints return. Use `actionable_type` to
            tell which one it is.
          anyOf:
            - $ref: "#/components/schemas/Category"
            - $ref: "#/components/schemas/StorageItem"
      example:
        id: "act123"
        action_type: "autofill"
        actionable_type: "ClientStorageItem"
        actionable_id: "sto123"
        suggested_params:
          description: "Used to distinguish users."
          company_name: "Google"
          duration: "2 years"
        created_at: "2023-02-01T10:00:00Z"
        actionable:
          id: "sto123"
          name: "_ga"
          storage_type: "cookie"

    AIActionResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/AIAction"

    Roles:
      type: object
      description: |
        Role flags for a membership. Currently `admin` is the only role, and it
        defaults to `true`.
      additionalProperties:
        type: boolean
      example:
        admin: true

    AccountUserWrite:
      type: object
      properties:
        roles:
          $ref: "#/components/schemas/Roles"

    AccountUserWriteRequest:
      type: object
      properties:
        account_user:
          $ref: "#/components/schemas/AccountUserWrite"
      required:
        - account_user
      example:
        account_user:
          roles:
            admin: false

    AccountUser:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the account user
        roles:
          $ref: "#/components/schemas/Roles"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        user:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string
              format: email
        account:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
      example:
        id: "accuser123"
        roles:
          admin: true
        created_at: "2023-01-05T10:15:30Z"
        updated_at: "2023-01-15T11:20:45Z"
        user:
          id: "usr123"
          name: "Ada Lovelace"
          email: "admin@example.com"
        account:
          id: "acc123"
          name: "example.com"

    AccountUserResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/AccountUser"

    AccountInvitationCreate:
      type: object
      properties:
        name:
          type: string
          description: Name of the user the invitation is for
        email:
          type: string
          format: email
          description: Email address of the user
      required:
        - name
        - email

    AccountInvitationCreateRequest:
      type: object
      properties:
        account_invitation:
          $ref: "#/components/schemas/AccountInvitationCreate"
      required:
        - account_invitation
      example:
        account_invitation:
          name: "Grace Hopper"
          email: "newmember@cookiechimp.com"

    AccountInvitationUpdate:
      type: object
      properties:
        name:
          type: string
          description: Name of the user the invitation is for
      required:
        - name

    AccountInvitationUpdateRequest:
      type: object
      properties:
        account_invitation:
          $ref: "#/components/schemas/AccountInvitationUpdate"
      required:
        - account_invitation
      example:
        account_invitation:
          name: "Grace Hopper"

    AccountInvitation:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          description: Name of the user the invitation is for
        email:
          type: string
          format: email
          description: Email address of the user
        invite_url:
          type: string
          description: URL the invited user follows to accept the invitation
        roles:
          $ref: "#/components/schemas/Roles"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        invited_by:
          type: [object, "null"]
          description: The user who sent the invitation. Empty when it was created via the API.
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string
              format: email
      example:
        id: "inv123"
        name: "Grace Hopper"
        email: "newmember@cookiechimp.com"
        invite_url: "https://cookiechimp.com/account_invitations/inv123"
        roles:
          admin: true
        created_at: "2023-01-25T09:30:20Z"
        updated_at: "2023-01-25T09:30:20Z"
        invited_by:
          id: "usr123"
          name: "Ada Lovelace"
          email: "admin@example.com"

    AccountInvitationResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/AccountInvitation"

    VisitorStatsMetric:
      type: object
      properties:
        count:
          type: number
          description: Value for the current period
        rate_of_change:
          type: number
          description: Percentage change against the comparison period

    VisitorStatsRawMetric:
      type: object
      properties:
        current_period:
          type: number
        previous_period:
          type: number

    VisitorStats:
      type: [object, "null"]
      description: |
        Visitor analytics for the last 30 days, compared against the 30 days
        before that. `null` when the client passed `?visitor_stats=false`.
      properties:
        comparison:
          type: string
          description: Label for the comparison period
        statistics:
          type: object
          properties:
            consents:
              $ref: "#/components/schemas/VisitorStatsMetric"
            unique_visitors:
              $ref: "#/components/schemas/VisitorStatsMetric"
            consent_rate:
              $ref: "#/components/schemas/VisitorStatsMetric"
        raw_data:
          type: object
          properties:
            consents:
              $ref: "#/components/schemas/VisitorStatsRawMetric"
            unique_visitors:
              $ref: "#/components/schemas/VisitorStatsRawMetric"
            consent_rate:
              $ref: "#/components/schemas/VisitorStatsRawMetric"

    Account:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Unique identifier for the account
        name:
          type: string
          readOnly: true
          description: Domain of the account
        allowed_domains:
          type: array
          items:
            type: string
          readOnly: true
          description: List of allowed domains the script will run on
        owner_id:
          type: string
          readOnly: true
          description: ID of the account user that owns the account
        onboarding_status:
          type: string
          readOnly: true
          description: |
            The status of the account, where:
            - `account_created`: The account has been created.
            - `vendors_setup`: Categories, services or TCF vendors have been set up.
            - `code_installed`: The script has been installed on the user's website.
            - `inactive`: Less than 10 visitors to the user's website in the last 30 days.
            - `live`: The account is live and operational.
        visitor_stats:
          $ref: "#/components/schemas/VisitorStats"
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: Date and time when the account was created
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: Date and time when the account was last updated
      example:
        id: "abc123"
        name: "example.com"
        allowed_domains: ["example.net", "example.org"]
        owner_id: "xyz123"
        onboarding_status: "live"
        visitor_stats:
          comparison: "vs. Last 30 days"
          statistics:
            consents:
              count: 213
              rate_of_change: 25.29
            unique_visitors:
              count: 895
              rate_of_change: 42.06
            consent_rate:
              count: 23.8
              rate_of_change: -11.85
          raw_data:
            consents:
              current_period: 213
              previous_period: 170
            unique_visitors:
              current_period: 895
              previous_period: 630
            consent_rate:
              current_period: 23.8
              previous_period: 27.0
        created_at: "2022-12-20T18:45:00Z"
        updated_at: "2023-01-10T19:00:00Z"

security:
  - authorization: []
